.__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 50px 100px;
}
.__heading {
  font-weight: 600;
}
.__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  min-width: 600px;
}
.__listItems {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}
